 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     scroll-behavior: smooth;
     font-family: "Poppins", sans-serif;


 }

 nav {
     width: 100%;
     height: 90px;
     background-color: #dc143c;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
 }

 ul {
     display: flex;
     padding: 12px;
     margin-right: 40px;


 }

 ul li {
     list-style: none;


 }

 ul li a {
     color: white;
     margin-inline: 20px;
     font-size: 22px;
     text-decoration: none;
     font-weight: 700;
     transition: all 0.5s;



 }

 ul li a:hover {

     cursor: pointer;
     color: blanchedalmond;
     transform: scale(1.1);
     transform: 0.3s ease;


 }

 .logo {
     margin-left: 40px;
     font-size: 28px;
     font-weight: 800;
     color: blanchedalmond;
 }

 .menu {
     font-size: 40px;
     color: white;
     margin-right: 20px;
     display: none;
 }

 .header {
     width: 100%;
     height: 900px;

     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 10px;

     padding-bottom: 50px;
 }

 .hammadimg {
     display: flex;
     justify-content: center;
     align-items: center;

     padding-right: 20px;

 }

 .hammadimg img {
     width: 400px;
     height: 400px;
     border-radius: 50%;
 }

 .text {
     height: auto;
     padding: 20px;
    
     
 }

 .icon i {
     font-size: 30px;
     border: 1px solid #dc143c;
     padding: 8px;
     border-radius: 50%;
     color: white;
     background-color: #dc143c;
     transition: all 0.5s ;
     margin-bottom: 30px;
     margin-top: 20px;
     

 }

 .icon i:hover {
     background-color: #eee;
     color: black;
 }

 .btn {
     padding: 15px;
     margin-top: 80px;
     font-size: 20px;
     width: 170px;
     border-radius: 10px;
     color: aliceblue;
     background-color: #dc143c;
     border-color: #dc143c;
     transition: all 0.5s;
     cursor: pointer;


 }

 .btn:hover {
     background-color: white;
     color: black;
     border-color: black;
     transform: scale(1.1);
     transform: 0.3s ease;
 }





 @media (max-width:1020px) {
     .hammadimg img {
         width: 300px;
         height: 300px;

     }

     .hammadimg {
         padding-top: 70px;
         padding-right: 0px;
     }



 }

 @media (max-width:768px) {
     .nav-links {
         display: none;
         flex-direction: column;
         position: absolute;
         width: 100%;
         background-color: #dc143c;
         padding: 25px;
         top: 80px;
         left: 0;
     }

     .nav-links li {
         padding: 12px 0px;
         color: white;
         list-style: none;
         text-decoration: none;
     }

     .nav-links.active {
         display: block;

     }

     .menu {
         display: flex;
     }

     .header {
         padding-top: 200px;
         flex-direction: column;
         height: auto;
     }

     .span1 {
         font-size: 40px;
     }


 }